
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>  
<div class="contenedor">
    <div class="row">
        <div class="col">
            <h4>Total Procesos : {{totalProcesos}}</h4>
            <h4>Total Corriendo : {{totalCorriendo}}</h4>
            <h4>Total Suspendido : {{totalSuspendido}}</h4>
            <h4>Total Detenido : {{totalDetenido}}</h4>
            <h4>Total Zombie : {{totalZobie}}</h4>
        </div>
    </div>
</div>
<accordion>
    <accordion-group heading="Static Header">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>

